<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <header class="add-product">
      <nav class="nav-product">
        <ul>
          <li><a href="/">Shop</a></li>
          <li><a href="/admin/add-product">Add product</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <% if (prods.length > 0) { %>
      <div class="grid">
        <% for (const product of prods) { %>
        <article class="card-item">
          <header class="card__header">
            <h1 class="product__title"><%= product.title %></h1>
          </header>
          <div class="card__image">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1fjFePcHxw9eGMD2rg66oGLhv6YKcD11aew&usqp=CAU"
              alt="Book Title"
            />
          </div>
          <div class="card__content">
            <h2 class="product__price">$19.99</h2>
            <p class="product__description">Great Book</p>
          </div>
          <div class="card__actions">
            <button class="btn">Add to Cart</button>
          </div>
        </article>
        <% } %>
      </div>
      <% } else { %>
      <h1>No products found</h1>
      <% } %>
    </main>
  </body>
</html>
