doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title #{pageTitle}
		link(rel="stylesheet", href="/css/main.css")
		link(rel="stylesheet", href="/css/product.css")
	body 
		header.add-product
			nav.nav-product
				ul 
					li
						a(href="/") Shop
					li
						a(href="/admin/add-product") Add Product
main
	if prods.length > 0
		.grid
			each product in prods
				article.card-item
					header.card__header
						h1.product__title #{product.title}
				div.card__image
					img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1fjFePcHxw9eGMD2rg66oGLhv6YKcD11aew&usqp=CAU")
				div.card__content
					h2.product__price $19.99
					p.product__description Great Book
				div.card__actions
					button.btn Add to Cart
	else
		h1.error-handler No Products Found.

